h1{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:70px;
    font-weight: bold;
}

.adeheader{
    background-image: url("/Users/adem/Desktop/projects/broadway/resources/images/the-flatiron-building.png");
    

}

#edit{
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    color: white;
    
}